<div [ngClass]="listQuotes.length === 0 ? 'content-box-component' : 'content-box-component content-box-component--overflow'">
    <div *ngIf="listQuotes.length === 0" class="alert alert-success text-center m-0">
        <h3 class="card-body">No hay citas que mostrar</h3>
    </div>
    <div *ngIf="listQuotes.length > 0" class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Sus citas</h3>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Sintomas</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let quote of listQuotes; let i = index">
                        <tr>
                            <th>{{ i + 1 }}</th>
                            <td>{{ quote.name }}</td>
                            <td>{{ quote.date }}</td>
                            <td>{{ quote.time }}</td>
                            <td>{{ quote.symptoms }}</td>
                            <td (click)="deleteQuote( i )"><i class="fa-sharp fa-solid fa-trash icon-trash"></i></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>