<div class="content-box-component">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Nueva cita</h3>
            <div *ngIf="formIsEmpty" class="alert alert-danger">
                <span class="d-block text-center">Todos los campos son obligatorios</span>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input 
                            type="text" 
                            name="name"
                            [(ngModel)]="name" 
                            id="name"                
                            class="form-control" 
                            placeholder="Escriba su nombre aquí">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group mt-3">
                    <label for="date">Fecha</label>
                    <input 
                        type="date" 
                        name="date" 
                        id="date"          
                        [(ngModel)]="date"         
                        class="form-control"
                        placeholder="Escoja una fecha">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group mt-3">
                    <label for="time">Hora</label>
                    <input 
                        type="time" 
                        name="time" 
                        [(ngModel)]="time" 
                        id="time"                  
                        class="form-control"
                        placeholder="Escoga una hora">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group mt-3">
                        <label for="symptoms">Sintomas</label>
                        <textarea 
                            type="symptoms" 
                            name="symptoms" 
                            id="symptoms"                
                            [(ngModel)]="symptoms" 
                            rows="3"
                            class="form-control"
                            placeholder="Describa sus sintomas">
                        </textarea>
                    </div>
                </div>
            </div>
            <button (click)="getAddQuote()" class="btn btn-outline-primary mt-4">Agregar cita</button>
        </div>
    </div>
</div>